.card-group {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: none !important;
  width: 25%;
  transition: 0.3s;
}
.card:hover {
  background-color: blanchedalmond;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media (max-width: 575px) {
  .card-group {
    justify-content: center;
    align-items: center;
  }
  .card-group .card {
    width: 100%;
  }
  .card-img-top {
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
